.gc-subway-support h2,  .gc-subway-support h3 
	{font-size: 1.1em;
	margin-top:0;}

.provisional {
	/*** GC Subway mobile first styles ***/
	/* Double H1 */
}
 .provisional.gc-subway-2 {
	 border-radius: 0px 6px 6px 0px;
	 border-right: 4px solid #26374a;
	 border-top: 4px solid #26374a;
	 margin-top: 38px;
}
.provisional.gc-subway-2:has(dl) {
    border-right: none;
    border-top: none;
}

 .provisional.gc-subway-2>nav ul, .provisional.gc-subway-2 dl {
	 clear: both;
	 list-style: none;
	 padding-left: 0.57em;
	 padding-top: 10px;
	 position: relative;
}
.provisional.gc-subway-2 dl dt {
	 border-left: 4px solid #26374a;
	 padding: 0px 20px 3px 1em;
	 font-weight: normal;
}
.provisional.gc-subway-2 dl dt a::before {
	 background-color: #fff;
	 border: 3px solid #26374a;
	 border-radius: 50%;
	 content: "";
	 height: 1.2em;
	 left: 0em;
	 position: absolute;
	 transition: width 0.2s, height 0.2s, left 0.2s, margin-top 0.2s;
	 width: 1.3em;
}
.provisional.gc-subway-2 dl dt a.active {
	 color: #333;
	 text-decoration: none;
}
.provisional.gc-subway-2 dl dt a.active::before {
	 background-color: #26374a;
}
.provisional.gc-subway-2 dl dt a.active:hover, .provisional.gc-subway-2 dl dt a.active:focus {
	 color: #0535d2;
	 text-decoration: underline;
}
.provisional.gc-subway-2 dl dt a:not(.active):hover::before, .provisional.gc-subway-2 dl dt a:not(.active):focus::before {
	 height: 1.5em;
	 left: -0.1em;
	 margin-top: -0.1em;
	 width: 1.5em;
}
.provisional.gc-subway-2 dl dt:last-of-type {
	 border-left: 5px solid transparent;
	 padding-bottom: 0;
}
 .provisional.gc-subway-2 ul dd, .provisional.gc-subway-2 dl dt {
	 border-left: 4px solid #26374a;
	 line-height: inherit !important;
	 margin-bottom: 0px;
	 margin-top: -3px;
	 padding: 0px 20px 20px 1em;
}
 .provisional.gc-subway-2 ul dd:last-child, .provisional.gc-subway-2 dl dt:last-child {
	 border-left: 5px solid transparent;
	 padding-bottom: 0;
}
 .provisional.gc-subway-2>nav ul li, .provisional.gc-subway-2 dl dt {
	 border-left: 4px solid #26374a;
	 padding: 0px 20px 30px 1em;
}
.provisional.gc-subway-2>nav ul li ul.noline li {
	 border-left: 5px solid transparent;
}
 .provisional.gc-subway-2>nav ul li a::before, .provisional.gc-subway-2 dl dt a::before {
	 background-color: #fff;
	 border: 3px solid #26374a;
	 border-radius: 50%;
	 content: "";
	 height: 1.2em;
	 left: 0.05em;
	 position: absolute;
	 transition: width 0.2s, height 0.2s, left 0.2s, margin-top 0.2s;
	 width: 1.2em;
}
 .provisional.gc-subway-2>nav ul li a.active, .provisional.gc-subway-2 dl dt a.active {
	 color: #333;
	 text-decoration: none;
}
 .provisional.gc-subway-2>nav ul li a.active::before, .provisional.gc-subway-2 dl dt a.active::before {
	 background-color: #26374a;
}
	/*added top:0 */
.provisional.gc-subway-2>nav ul li ul.noline li a.active::after {
	content: " ";
	height: 4px;
	width: 1.6em;
	background-color: #26374a;
	position: absolute;
	/*margin-left: -1em;*/
	margin-left: -3em;
	/* margin-top: 0.5em; */
	margin-top: 0.7em;
	left: 0;
	top:0;
}

	
 /*.provisional.gc-subway-2 ul li a.active:hover, .provisional.gc-subway-2 dl dt a.active:hover, .provisional.gc-subway-2 ul li a.active:focus, .provisional.gc-subway-2 dl dt a.active:focus {
	 color: #0535d2;
	 text-decoration: underline;
} */

 .provisional.gc-subway-2>nav ul li a:not(.active):hover::before, .provisional.gc-subway-2 dl dt a:not(.active):hover::before, .provisional.gc-subway-2>nav ul li a:not(.active):focus::before, .provisional.gc-subway-2 dl dt a:not(.active):focus::before {
	 height: 1.5em;
	 left: -0.1em;
	 margin-top: -0.1em;
	 width: 1.5em;
}
 .provisional.gc-subway-2>nav ul li::first-line, .provisional.gc-subway-2 dl dt::first-line {
	 line-height: 1 !important;
}
 .provisional.gc-subway-2>nav ul li:last-child, .provisional.gc-subway-2 dl dt:last-child {
	 border-bottom: 4px solid #26374a;
	 border-bottom-left-radius: 6px;
	 border-left: 4px solid #26374a;
}
 .provisional.gc-subway-2>nav ul li ul, .provisional.gc-subway-2 dl dt ul {
	 margin-top: 20px;
	 padding-left: 0.55em;
}
 .provisional.gc-subway-2>nav ul li ul li:last-child, .provisional.gc-subway-2 dl dt ul li:last-child {
	 border-bottom-width: 0px;
	 padding-bottom: 0px;
}
	/*changed*/
 .provisional.gc-subway-2 #gc-document-nav {
	 float: left;
}
/*changed*/	
 .provisional.gc-subway-2 #gc-document-nav, .provisional.gc-subway-section .gc-subway-nav {
	 background-color: #fff;
	 border-bottom-width: 0px;
	 color: #555;
	 font-size: 1.3em;
	 margin-right: 20px;
	 margin-top: -19px;
	 padding: 0px 20px 10px 0px;
}
 /* Remove to cancel conflict in mobile 
h1 ~ .provisional.gc-subway-2 {
	 border-right: none;
	 border-top: none;
} */
 



@media screen and (min-width:992px)  {
 .provisional {
	/* Double H1 */
}
 .provisional.gc-subway-2 {
	 border-right: 0px;
	 border-top: 0px;
	 display: none;
	 margin-top: 25px;
	 padding-left: 15px;
}
 .provisional.gc-subway-2.no-blink {
	 display: block;
}
 .provisional.gc-subway-2 {
	 float: right;
	 width: 33.33%;
	 clear: both;
}
		
.gc-subway-section + .gc-subway-support {
	clear: right;
	float: right;
	padding-left: 15px;
	width: 33.33%;
	
}	
.gc-subway-section + .pagedetails, .gc-subway-section + .gc-subway-support + .pagedetails	{
	clear:both;
	}
	
 .provisional.gc-subway-2>nav ul li:last-child {
	 border-bottom: 0px;
	 border-left: 4px solid transparent;
}
 .provisional.gc-subway-section {
	 padding-right: 15px;
	 width: 66.66%;
	 float: left;
}
	/*changed*/
 .provisional.gc-subway-section h1, .provisional.gc-subway-section .gc-subway-nav {
	 margin-top: 0px;
}
 .provisional.gc-subway-section .gc-subway-nav {
	 font-family: Lato, sans-serif;
	 font-weight: inherit;
	 margin-bottom: 0px;
	 margin-right: 0px;
	 padding-bottom: 0px !important;
	 padding-left: 0px;
}
 .wb-disable .provisional.gc-subway-2 {
	 display: block;
}
.provisional.gc-subway-2>nav ul li:last-child ul.noline li a.active::after 
	height: 0px;
	background-color: transparent;	
}	
}


@media screen and (max-width:991px) {
.provisional.gc-subway-2 dt, .provisional.gc-subway-2 li {
	 max-width: initial;
}
}
/* Visual tab design for active page */
/*Grey background
a[tabindex="0"]:focus {
  background-color: #f0f0f0;
  border-radius: 4px;
  padding: 2px;
  margin-left: -2px;
} */
/*override theme no outline*/
.gc-subway-2 a.active:not([href]):focus, .gc-subway-2 a.active:not([href]):hover {
     outline-style: auto;
    outline-width: revert;
}
/* added to support multi-line active links */
	ul.noline>li>a.active {
		position: relative;
	}
/* added to support multi-line active links */
ul.noline>li>a.active::before {
  margin-left: -36px; 

}	
